
body {
  text-align: center;
  background-color: #6699CC;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #29339B;
  font-size: 40px;
  
}


p {
  color: #000807;
  font-family: verdana;
  font-size: 110%;
}
sub {
  color: black;
  font-family: verdana;
  font-size: 90%;
  
}

.image {

  border: 3px groove #1A936F;

}

.button {
  padding: 20px;
  border: thick groove black;
  margin: 20px;
}
